article.neurobonus-card.statistic__neurobonus
    div.neurobonus-card__heading
        h2.neurobonus-card__heading-title Ежедневный бонус
        p.neurobonus-card__heading-text За интенсивные тренировки
    div.neurobonus-card__content
        div.neurobonus-card__content-inner
            div.neurobonus-card__content-left
                div.neurobonus-card__graduation
                    div.neurobonus-card__graduation-item 20
                    div.neurobonus-card__graduation-item 15
                    div.neurobonus-card__graduation-item 8
                div.neurobonus-card__scale
                    div.neurobonus-card__bar(style="height: 35%;")
            div.neurobonus-card__content-right
                p.neurobonus-card__text
                    b Следующий бонус:
                    br
                    span через 8 тренажеров
                p.neurobonus-card__text.neurobonus-card__text--small 1500 нейронов
                button.neurobonus-card__btn.btn.btn--purple-bordered К ТРЕНАЖЕРАМ
