- var games = ["Найди число", "Клик-Клик", "Цветовод", "Посчитай цвета: Перегрузка"];

div.statistic-table
    p.statistic-table__nodata Статистика отсутствует

div.statistic-table
    h3.statistic-table__title.statistic-table__title--attention Внимание
    table.statistic-table__table
        thead
            th.statistic-table__heading-cell.statistic-table__heading-cell--first Название тренажера
            th.statistic-table__heading-cell Ип тренажера
            th.statistic-table__heading-cell Изменение ИП
            th.statistic-table__heading-cell Подходов
            th.statistic-table__heading-cell Лучший результат
        tbody
            each game in games
                tr.statistic-table__row
                    td.statistic-table__cell.statistic-table__cell--first #{game}
                    td.statistic-table__cell 159
                    td.statistic-table__cell 6.0
                    td.statistic-table__cell 24
                    td.statistic-table__cell 4.0

div.statistic-table
    h3.statistic-table__title.statistic-table__title--memory Память
    table.statistic-table__table
        thead
            th.statistic-table__heading-cell.statistic-table__heading-cell--first Название тренажера
            th.statistic-table__heading-cell Ип тренажера
            th.statistic-table__heading-cell Изменение ИП
            th.statistic-table__heading-cell Подходов
            th.statistic-table__heading-cell Лучший результат
        tbody
            each game in games
                tr.statistic-table__row
                    td.statistic-table__cell.statistic-table__cell--first #{game}
                    td.statistic-table__cell 159
                    td.statistic-table__cell 6.0
                    td.statistic-table__cell 24
                    td.statistic-table__cell 4.0

div.statistic-table
    h3.statistic-table__title.statistic-table__title--flexibility Мышление
    table.statistic-table__table
        thead
            th.statistic-table__heading-cell.statistic-table__heading-cell--first Название тренажера
            th.statistic-table__heading-cell Ип тренажера
            th.statistic-table__heading-cell Изменение ИП
            th.statistic-table__heading-cell Подходов
            th.statistic-table__heading-cell Лучший результат
        tbody
            each game in games
                tr.statistic-table__row
                    td.statistic-table__cell.statistic-table__cell--first #{game}
                    td.statistic-table__cell 159
                    td.statistic-table__cell 6.0
                    td.statistic-table__cell 24
                    td.statistic-table__cell 4.0
