footer.footer
    div.container-large
        div.footer__inner
          section.footer__section.footer__section--info
            div.footer__info-item.footer__info-item--hidden
              button.footer__info-title О ПРОЕКТЕ
              ul.footer__info-links
                li.footer__info-link
                  a.footer__section-link(href='#') Что такое Викиум
                li.footer__info-link
                  a.footer__section-link(href='#') СМИ о нас
                li.footer__info-link
                  a.footer__section-link(href='#') Брейн-фитнес
            div.footer__info-item.footer__info-item--hidden
              button.footer__info-title НАУКА
              ul.footer__info-links
                li.footer__info-link
                  a.footer__section-link(href='#') Исследования
                li.footer__info-link
                  a.footer__section-link(href='#') Программа развития
                li.footer__info-link
                  a.footer__section-link(href='#') Библиотека
            div.footer__info-item.footer__info-item--hidden
              button.footer__info-title СОТРУДНИЧЕСТВО
              ul.footer__info-links
                li.footer__info-link
                  a.footer__section-link(href='#') Партнерская программа
                li.footer__info-link
                  a.footer__section-link(href='#') Пресс-служба
                li.footer__info-link
                  a.footer__section-link(href='#') Для организаций
          section.footer__section.footer__section--contacts
            a.footer__section-link.footer__contacts-item(href='#') Помощь (FAQ)
            a.footer__section-link.footer__contacts-item(href='mailto:support@wikium.ru?subject=Обращение с сайта ВИКИУМ&body=Здравствуйте, команда ВИКИУМА.') support@wikium.ru               
            div.footer__social.footer__contacts-links
              a.social-btn(href='https://vk.com/public76557238', title='vkontakte', target='_blank')
                svg.social-btn__icon(width='20', height='11')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/build/img/sprites/social-icons_symbols.svg#vkontakte')
              a.social-btn(href='https://www.facebook.com/wikium/', title='facebook', target='_blank')
                svg.social-btn__icon(width='10', height='19')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/build/img/sprites/social-icons_symbols.svg#facebook')
              a.social-btn(href='#', title='odnoklassniki', target='_blank')
                svg.social-btn__icon(width='12', height='20')
                  use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='/build/img/sprites/social-icons_symbols.svg#odnoklassniki')
        section.footer__section.footer__section--copyright
          p.footer__text © Викиум.ру 2013 &ndash; 2016
          p.footer__text.footer__text--tel
            a.footer__section-link(href='tel:+74951338663') +7 (495) 133 86 63
                br
                span с 10:00 до 19:00
