form(action="/" method="GET")
    div.statistic-comparation__select
        // Тут нужно написать скрипт для работы кастомного селекта
        // 1. При клике на div.custom-select удалить класс .custom-select--closed
        // 2. Для каждого .custom-select__item при клике на этот элемент - взять текст из связанного с ним лейбла .custom-select__item-label и подставить в .custom-select__placeholder
        // 3. div.custom-select добавить класс .custom-select--closed
        div.custom-select.custom-select--closed
            span.custom-select__placeholder Возраст
            div.custom-select__items
                input.custom-select__item(type="radio" name="age" value="0-7" id="age[0-7]")
                label.custom-select__item-label(for="age[0-7]") до 8 лет
                input.custom-select__item(type="radio" name="age" value="8-12" id="age[8-12]")
                label.custom-select__item-label(for="age[8-12]") от 8 до 12 лет
                input.custom-select__item(type="radio" name="age" value="13-18" id="age[13-18]")
                label.custom-select__item-label(for="age[13-18]") от 13 до 18 лет
                input.custom-select__item(type="radio" name="age" value="19-24" id="age[19-24]")
                label.custom-select__item-label(for="age[19-24]") от 19 до 24 лет
                input.custom-select__item(type="radio" name="age" value="25-30" id="age[25-30]")
                label.custom-select__item-label(for="age[25-30]") от 25 до 30 лет
                input.custom-select__item(type="radio" name="age" value="31-40" id="age[31-40]")
                label.custom-select__item-label(for="age[31-40]") от 31 до 40 лет
                input.custom-select__item(type="radio" name="age" value="41-50" id="age[41-50]")
                label.custom-select__item-label(for="age[41-50]") от 41 до 50 лет
                input.custom-select__item(type="radio" name="age" value="51-65" id="age[51-65]")
                label.custom-select__item-label(for="age[51-65]") от 51 до 65 лет
                input.custom-select__item(type="radio" name="age" value="66" id="age[66]")
                label.custom-select__item-label(for="age[66]") от 66 лет
    div.statistic-comparation__select
        div.custom-select.custom-select--closed
            span.custom-select__placeholder Города
            div.custom-select__items
                input.custom-select__item(type="radio" name="city" value="1" id="city[1]")
                label.custom-select__item-label(for="city[1]") Москва
                input.custom-select__item(type="radio" name="city" value="148" id="city[148]")
                label.custom-select__item-label(for="city[148]") Нижний Новгород
                input.custom-select__item(type="radio" name="city" value="127" id="city[127]")
                label.custom-select__item-label(for="city[127]") Одесса
                input.custom-select__item(type="radio" name="city" value="110" id="city[110]")
                label.custom-select__item-label(for="city[110]") Харьков
                input.custom-select__item(type="radio" name="city" value="103" id="city[103]")
                label.custom-select__item-label(for="city[103]") Самара
                input.custom-select__item(type="radio" name="city" value="83" id="city[83]")
                label.custom-select__item-label(for="city[83]") Казань
                input.custom-select__item(type="radio" name="city" value="57" id="city[57]")
                label.custom-select__item-label(for="city[57]") Челябинск
                input.custom-select__item(type="radio" name="city" value="45" id="city[45]")
                label.custom-select__item-label(for="city[45]") Новосибирск
                input.custom-select__item(type="radio" name="city" value="39" id="city[39]")
                label.custom-select__item-label(for="city[39]") Ростов-на-Дону
                input.custom-select__item(type="radio" name="city" value="35" id="city[35]")
                label.custom-select__item-label(for="city[35]") Алма-Ата
                input.custom-select__item(type="radio" name="city" value="12" id="city[12]")
                label.custom-select__item-label(for="city[12]") Санкт-Петербург
                input.custom-select__item(type="radio" name="city" value="8" id="city[8]")
                label.custom-select__item-label(for="city[8]") Екатеринбург
                input.custom-select__item(type="radio" name="city" value="6" id="city[6]")
                label.custom-select__item-label(for="city[6]") Минск
                input.custom-select__item(type="radio" name="city" value="5" id="city[5]")
                label.custom-select__item-label(for="city[5]") Уфа
                input.custom-select__item(type="radio" name="city" value="4" id="city[4]")
                label.custom-select__item-label(for="city[4]") Киев
                input.custom-select__item(type="radio" name="city" value="156" id="city[156]")
                label.custom-select__item-label(for="city[156]") Краснодар
    div.statistic-comparation__select
        div.custom-select.custom-select--closed
            span.custom-select__placeholder Любая активность
            div.custom-select__items
                input.custom-select__item(type="radio" name="activity" value="all" id="activity[0]")
                label.custom-select__item-label(for="activity[0]") Любая активность
                input.custom-select__item(type="radio" name="activity" value="10-percent" id="activity[1]")
                label.custom-select__item-label(for="activity[1]") 10% лучших
                input.custom-select__item(type="radio" name="activity" value="30-percent" id="activity[2]")
                label.custom-select__item-label(for="activity[2]") 30% лучших
                input.custom-select__item(type="radio" name="activity" value="50-percent" id="activity[3]")
                label.custom-select__item-label(for="activity[3]") 50% лучших
    div.statistic-comparation__select
        div.custom-select
            span.custom-select__placeholder За все время
            div.custom-select__items
                input.custom-select__item(type="radio" name="duration" value="all" id="duration[0]")
                label.custom-select__item-label(for="duration[0]") За все время
                input.custom-select__item(type="radio" name="duration" value="last-month" id="duration[1]")
                label.custom-select__item-label(for="duration[1]") Все за последний месяц
                input.custom-select__item(type="radio" name="duration" value="last-year" id="duration[2]")
                label.custom-select__item-label(for="duration[2]") Все за последний год
