div.data-graph
    div.data-graph__scale
        div.data-graph__graph
            include ../../../../img/icons/pages/statistic/comparation-graph.svg
            div.data-graph__hint.data-graph__hint--x Индекс производительности
            div.data-graph__hint.data-graph__hint--y Количество людей
