div.statistic-comparation__goals
    ul.statistic-comparation__goals-inner
        - var n = 0;
        while n < 2
            li.statistic-comparation__goal= n++
                p.statistic-comparation__goal-text Ваши результаты в «Цветовод Перегрузка» лучше чем у всех пользователей.
                div.statistic-comparation__goal-inner
                    button.statistic-comparation__goal-btn.btn.btn--purple-bordered ОТКРЫТЬ РЕЗУЛЬТАТ
                    span.statistic-comparation__goal-date 42 дня назад
        while n < 4
            li.statistic-comparation__goal= n++
                p.statistic-comparation__goal-text Ваши результаты в «Цветовод Перегрузка» лучше чем у всех пользователей.
                div.statistic-comparation__goal-inner
                    div.statistic-comparation__goal-done 
                        svg.statistic-comparation__goal-icon(width="20" height="20" viewBox="0 0 20 20")
                            path(fill="#FDC10A" d="M10,0 C4.5,0 0,4.5 0,10 C0,15.5 4.5,20 10,20 C15.5,20 20,15.5 20,10 C20,4.5 15.5,0 10,0 L10,0 Z M8,15 L3,10 L4.4,8.6 L8,12.2 L15.6,4.6 L17,6 L8,15 L8,15 Z")
                        p.statistic-comparation__goal-text-done
                            |Вы получили 
                            b 300 
                            |нейронов
                    span.statistic-comparation__goal-date 42 дня назад
