label.skill-checkbox.skill-checkbox--attention(for="checkbox-attention")
    input.skill-checkbox__input.skill-checkbox__input--attention(type="checkbox" id="checkbox-attention" name="skill" value="attention" checked)
    div.skill-checkbox__label
        span.skill-checkbox__checkbox.skill-checkbox__checkbox--attention
        span.skill-checkbox__text Внимание
