label.skill-checkbox.skill-checkbox--flexibility(for="checkbox-flexibility")
    input.skill-checkbox__input.skill-checkbox__input--flexibility(type="checkbox" id="checkbox-flexibility" name="skill" value="flexibility" checked)
    div.skill-checkbox__label
        span.skill-checkbox__checkbox.skill-checkbox__checkbox--flexibility
        span.skill-checkbox__text Мышление
