label.skill-checkbox.skill-checkbox--memory(for="checkbox-memory")
    input.skill-checkbox__input.skill-checkbox__input--memory(type="checkbox" id="checkbox-memory" name="skill" value="memory" checked)
    div.skill-checkbox__label
        span.skill-checkbox__checkbox.skill-checkbox__checkbox--memory
        span.skill-checkbox__text Память
