mixin skill-bar-diff(modifier, diffIndex, diffDirection)
    div.skill-bar-diff(class='skill-bar-diff--' + modifier)
        div.skill-bar-diff__scale
            span.skill-bar-diff__bar(class='skill-bar-diff__bar--' + modifier style='width: 68%')
            span.skill-bar-diff__diff(class='skill-bar-diff__diff--' + diffDirection style='width: 10%; left: 68.2%')
            span.skill-bar-diff__hint(class='skill-bar-diff__hint--' + diffDirection) +30
