extends ../layout-default

block head
    - var pageTitle = "Быстрая статистика :: Статистика";
    - var pageStyle = "/build/statistic.css"

block content
    body.statistic
        block header
            include ../../components/global/header/header.pug
            include ../../components/global/sub-nav/sub-nav.pug
        
        block main
            main.main-content.main-content--purple
                div.main-content__inner
                    article.statistic__card.statistic__card--progress.card
                        h1.statistic__title Мой прогресс
                        include _statistic-progress.pug
                        include _neurobonus-card.pug

                    h2.statistic__title Рекомендуем вам курс:
                    article.statistic-banner.statistic-banner--attention.card
                        div.statistic-banner__img-wrap
                            svg.statistic-banner__img(width="130" height="130")
                                use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/build/img/sprites/statistic-banners_symbols.svg#attention")
                        div.statistic-banner__content
                            div.statistic-banner__content-inner
                                h2.statistic-banner__course-name «Развитие внимания»
                                ul.statistic-banner__benefits
                                    li.statistic-banner__benefit Научитесь управлять своим вниманием
                                    li.statistic-banner__benefit Разовьёте устойчивость к отвлекающим факторам
                                    li.statistic-banner__benefit Не упустите важные детали
                                a.statistic-banner__btn.btn.btn--purple-bordered(href="#") Подробнее

                    article.statistic__card.statistic__card--table.card
                        div.statistic__card-heading
                            h2.statistic__title.statistic__title--table Статистика результатов за 6 февраля 2017 г.
                            div.statistic__index
                                p.statistic__index-text Ваш текущий показатель ИП:
                                p.statistic__index-quantity
                                    svg.statistic__index-arrow(width="12" height="8")
                                        polygon(fill="#1CB765" points="1.4 7.4 6 2.8 10.6 7.4 12 6 6 0 0 6")
                                    svg.statistic__index-arrow(width="12" height="8")
                                        polygon(transform="translate(-3.000000, -4.000000)" fill="#DB4432" points="4.4 4 9 8.6 13.6 4 15 5.4 9 11.4 3 5.4")
                                    span 237
                        include ../../components/tables/statistic-table/_statistic-table.pug
        
        block footer
            include ../../components/global/footer/footer.pug

        block scripts
            script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
            script
                include ../../../pug/components/global/header/header.js
            script
                include ../../../pug/components/global/footer/footer.js
