extends ../layout-default

block head
    - var pageTitle = "История тренировок :: Статистика";
    - var pageStyle = "/build/statistic.css"

block content
    body.statistic.train-history
        block header
            include ../../components/global/header/header
            include ../../components/global/sub-nav/sub-nav
        
        block main
        main.main-content.main-content--purple
            div.main-content__inner
                article.train-history.statistic__card.statistic__card--index.card
                    div.train-history__heading.statistic__card-heading
                        h1.train-history__title.statistic__title.statistic__title--index Индекс производительности (ИП)
                        div.train-history__calendar 
                            include ../../components/form/calendar/calendar
                    div.train-history__data
                        div.train-history__menu
                            div.train-history__menu-item
                                include ../../components/form/skill-checkbox/skill-checkbox--attention
                            div.train-history__menu-item
                                include ../../components/form/skill-checkbox/skill-checkbox--memory
                            div.train-history__menu-item
                                include ../../components/form/skill-checkbox/skill-checkbox--flexibility
                            div.train-history__menu-item
                                include ../../components/form/skill-checkbox/skill-checkbox--all
                        div.train-history__graph
                            h3.train-history__graph-title График за неделю
                            include ../../../img/icons/pages/statistic/history-graph.svg
                            div.train-history__graph-popover(style="top: 20px; left: 335px;")
                                p.train-history__graph-popover-title
                                    span ИП Мышления 
                                    b 500
                                time.train-history__graph-popover-time 27 янв. 2017, 22:56
                div.train-history__cards
                    section.train-history__card.statistic__card.card
                        h2.train-history__card-title Всего пройдено тренажеров
                        p.train-history__games 520
                    section.train-history__card.statistic__card.card
                        h2.train-history__card-title Процентное соотношение
                        div.train-history__pie-chart
                            include ../../../img/icons/pages/statistic/pie-chart.svg
                            div.train-history__pie-indexes
                                span.train-history__pie-index(style="top: 60px; right: 4px;") 30%
                                span.train-history__pie-index(style="top: 60px; left: 8px;") 60%
                                span.train-history__pie-index(style="top: 11px; left: 46px;") 20%
                            div.train-history__pie-popover(style="top: -15; left: 100px;")
                                p.train-history__pie-popover-skill
                                    span.train-history__skill-color.train-history__skill-color--attention
                                    span.train-history__pie-popover-text Внимание
                                p.train-history__pie-popover-index 228 (60%)
                    section.train-history__card.statistic__card.card
                        h2.train-history__card-title Изменение ИП за период
                        table.train-history__table
                            tr.train-history__table-row
                                td.train-history__table-cell
                                    span.train-history__skill-color.train-history__skill-color--attention
                                td.train-history__table-cell Внимание
                                td.train-history__table-cell 200
                            tr.train-history__table-row
                                td.train-history__table-cell
                                    span.train-history__skill-color.train-history__skill-color--memory
                                td.train-history__table-cell Память
                                td.train-history__table-cell 200
                            tr.train-history__table-row
                                td.train-history__table-cell
                                    span.train-history__skill-color.train-history__skill-color--flexibility
                                td.train-history__table-cell Мышление
                                td.train-history__table-cell 200
                                
                article.statistic__card.train-history__game-table.card
                    div.statistic__card-heading
                        h2.statistic__title.statistic__title--table Статистика результатов за 6 февраля 2017 г.
                    include ../../components/tables/statistic-table/_statistic-table.pug

        block footer
            include ../../components/global/footer/footer

    block scripts
        script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
        script
            include ../../../pug/components/global/header/header.js
        script
            include ../../../pug/components/global/footer/footer.js
        script
            include ../../../pug/components/form/calendar/calendar.js
