section.sub-nav
    div.sub-nav__inner
        nav.sub-nav__menu
            ul.sub-nav__menu-list
                li.sub-nav__menu-item(data-state="active")
                    a.sub-nav__menu-link(href="/templates/pages/statistic/today.html") Быстрая статистика
                li.sub-nav__menu-item
                    a.sub-nav__menu-link(href="/templates/pages/statistic/train_history.html") История тренировок
                li.sub-nav__menu-item
                    a.sub-nav__menu-link(href="/templates/pages/statistic/comparation.html") Сравнение с другими
