include ../../components/charts/bars/skill/_skill-bar-diff

div.statistic-progress.statistic__progress
    section.statistic-progress__nav
        nav.statistic-progress__menu.sub-nav__menu
            ul.statistic-progress__menu-list.sub-nav__menu-list
                li.statistic-progress__menu-item.sub-nav__menu-item(data-state="active")
                    a.statistic-progress__menu-link.sub-nav__menu-link(href="#") За день
                li.statistic-progress__menu-item.sub-nav__menu-item
                    a.statistic-progress__menu-link.sub-nav__menu-link(href="#") За неделю
                li.statistic-progress__menu-item.sub-nav__menu-item(data-state="disabled")
                    a.statistic-progress__menu-link.sub-nav__menu-link(href="#")
                        svg.statistic-progress__lock-icon(width="16" height="21" fill="currentColor")
                            path(d="M14,7 L13,7 L13,5 C13,2.2 10.8,0 8,0 C5.2,0 3,2.2 3,5 L3,7 L2,7 C0.9,7 0,7.9 0,9 L0,19 C0,20.1 0.9,21 2,21 L14,21 C15.1,21 16,20.1 16,19 L16,9 C16,7.9 15.1,7 14,7 L14,7 Z M8,16 C6.9,16 6,15.1 6,14 C6,12.9 6.9,12 8,12 C9.1,12 10,12.9 10,14 C10,15.1 9.1,16 8,16 L8,16 Z M11.1,7 L4.9,7 L4.9,5 C4.9,3.3 6.3,1.9 8,1.9 C9.7,1.9 11.1,3.3 11.1,5 L11.1,7 L11.1,7 Z")
                        span За месяц
                li.statistic-progress__menu-item.sub-nav__menu-item(data-state="disabled")
                    a.statistic-progress__menu-link.sub-nav__menu-link(href="#")
                        svg.statistic-progress__lock-icon(width="16" height="21" fill="currentColor")
                            path(d="M14,7 L13,7 L13,5 C13,2.2 10.8,0 8,0 C5.2,0 3,2.2 3,5 L3,7 L2,7 C0.9,7 0,7.9 0,9 L0,19 C0,20.1 0.9,21 2,21 L14,21 C15.1,21 16,20.1 16,19 L16,9 C16,7.9 15.1,7 14,7 L14,7 Z M8,16 C6.9,16 6,15.1 6,14 C6,12.9 6.9,12 8,12 C9.1,12 10,12.9 10,14 C10,15.1 9.1,16 8,16 L8,16 Z M11.1,7 L4.9,7 L4.9,5 C4.9,3.3 6.3,1.9 8,1.9 C9.7,1.9 11.1,3.3 11.1,5 L11.1,7 L11.1,7 Z")
                        span За все время
    include _lock-screen.pug
    div.statistic-progress__content
        div.statistic-progress__chart.thin-pie-chart
            div.statistic-progress__chart-inner.thin-pie-chart__chart
                svg(width="100%" height="100%")
                    path(xmlns="http://www.w3.org/2000/svg" d="M62,0 C27.759,0 0,27.758 0,62 C0,96.242 27.759,124 62,124 C96.242,124 124,96.242 124,62 C124,27.758 96.242,0 62,0 M62,4 C93.981,4 120,30.019 120,62 C120,93.981 93.981,120 62,120 C30.019,120 4,93.981 4,62 C4,30.019 30.019,4 62,4" id="Fill-1" fill="#DEDEDE")
                    path(xmlns="http://www.w3.org/2000/svg" d="M61.8411,0 L61.8411,4 C93.8221,4 119.8411,30.019 119.8411,62 C119.8411,93.981 93.8221,120 61.8411,120 C45.8511,120 31.3511,113.495 20.8481,102.993 L18.0001,105.841 C29.2201,117.061 44.7201,124 61.8411,124 C96.0821,124 123.8411,96.242 123.8411,62 C123.8411,27.758 96.0821,0 61.8411,0" id="Fill-4-Copy-2" fill="#6039AA")
                div.thin-pie-chart__info
                    p.statistic-progress__chart-mark.thin-pie-chart__info-mark 1440
                    p.statistic-progress__chart-feature.thin-pie-chart__info-feature ИП
        div.statistic-progress__bars
            table.statistic-progress__table
                tbody
                    tr.statistic-progress__table-row
                        td.statistic-progress__table-text Внимание
                        td.statistic-progress__table-bar
                            +skill-bar-diff('attention', '+30', 'up')
                        td.statistic-progress__table-text 1490
                    tr.statistic-progress__table-row
                        td.statistic-progress__table-text Память
                        td.statistic-progress__table-bar
                            +skill-bar-diff('memory', '-30', 'down')
                        td.statistic-progress__table-text 1330
                    tr.statistic-progress__table-row
                        td.statistic-progress__table-text Мышление
                        td.statistic-progress__table-bar
                            div.skill-bar.skill-bar--attention
                                +skill-bar-diff('flexibility', '+30', 'up')
                        td.statistic-progress__table-text 1495
